.circle {
    // background: #076797;
    // width: 35px;
    // height: 35px;
    // display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: #000;
    line-height: 35px;
    font-size: 14px;
    border: 1px dashed #000;
    font-family: initial;
    font-weight: bold;
    padding-left: 12px;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
  }

  .text-justify{
    text-align: justify !important;
  }