<div class="col-12">
    <div class="p-4 p-md-5 mt-4 mb-4 rounded text-bg-dark bg-gradient-greenish">
        <div class="col-md-12 px-0 text-center">
            <p class="fs-2 my-3">
                Search ""
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-lg-2">
            <div class="card mb-2">
                <div class="card-header">
                    Search
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-10">

        </div>
    </div>
</div>