<div class="p-4 p-md-5 mt-4 mb-4 rounded text-bg-dark bg-gradient-greenish">
    <div class="col-md-12 px-0 text-center">
        <h1 class="display-4 fst-italic indo-arabic-font"> دعاء وأذكار</h1>
        <p class="lead my-3">Dua and Zikr</p>
        <p class="lead mb-0">
            <span class="text-white fw-bold bangla-font">দোয়া জিকির</span>
        </p>
    </div>
</div>

<div class="row mb-2">
    <div class="col-12 col-sm-6 col-lg-6" *ngFor="let row of tagList;">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col pt-4 ps-4 pe-4 d-flex flex-column position-static">
              <a [routerLink]="'/pages/dua-zikr/'+row.tagSlug">
                <div class="row">
                  <div class="col-12 text-center">
                    <h3 class="mb-0">{{row.tagEn}}</h3>
                    <p class="mb-2 bangla-font">{{row.tagBn}}</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
    </div>
</div>