<div class="p-4 p-md-5 mt-4 mb-4 rounded text-bg-dark bg-gradient-greenish">
    <div class="col-md-12 px-0 text-center">
        <h1 class="display-4 fst-italic arabic-font">{{bookDetails.name_ar}}</h1>
        <p class="lead my-3">{{bookDetails.name_en}}</p>
        <p class="lead mb-0">
            <span class="text-white fw-bold bangla-font">{{bookDetails.name_bn}}</span>
        </p>
    </div>
</div>
<div class="row justify-content-md-center mb-2">
    <div class="col col-lg-6 text-center ps-3 pe-3">
      <form [formGroup]="formGroup" (ngSubmit)="search()">
        <label class="form-label fs-3">Search</label>
        <input type="text" class="form-control" name="q" formControlName="q"
          placeholder="Enter search term" />
        <button class="btn btn-dark mt-2" type="submit">Search</button>
      </form>
    </div>
  </div>
<div class="row mb-2">
    <div class="col-12 col-sm-6 col-lg-4" *ngFor="let row of bookList;">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col pt-4 ps-4 pe-4 d-flex flex-column position-static">
                <a [routerLink]="'/pages/hadith/list/'+bookDetails.id+'/'+row.reference_book+'/'+row.name_slug">
                    <div class="row">
                        <div class="col-2 mt-4">
                            <div class="diamond-shape">
                                <div class="item-count">{{row.reference_book}}</div>
                            </div>
                        </div>
                        <div class="col-10">
                            <p class="mb-2 text-end arabic-font fs-5"><b>{{row.name_ar}}</b></p>
                            <p class="mb-0 text-end fs-6">{{row.name_en}}</p>
                            <p class="mb-2 bangla-font text-end fs-6"><b>{{row.name_bn}}</b></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>