<div class="col-12">
    <div class="p-4 p-md-5 mt-4 mb-4 rounded text-bg-dark bg-gradient-greenish">
        <div class="col-md-12 px-0 text-center">
            <p class="fs-2 my-3">
                Search "{{q}}"
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-lg-2">
            <div class="card mb-2">
                <div class="card-header">
                    Search
                </div>
                <div class="card-body">
                    <form [formGroup]="formGroup" (ngSubmit)="search()">
                        <label class="form-label">Terms</label>
                        <input type="text" class="form-control" name="q" formControlName="q" />

                        <hr class="bg-danger border-2 border-top">

                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-10" infinite-scroll [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
            <div class="card mb-2" *ngFor="let row of hadithList;">
                <div class="card-header" id="target{{row.hadithnumber}}">
                    {{row.kitab_name_en}}:{{row.hadithnumber}}
                </div>
                <div class="card-body">
                    <p class="card-text fs-4 arabic-font">
                        {{row.text_ar}}
                    </p>
                    <p class="card-text bangla-font mt-3 fs-6">{{row.text_bn}}</p>
                    <p class="card-title mt-3 fs-6">{{row.text_en}}</p>

                    <div class="text-center">
                        <button title="Copy" class="btn btn-outline-secondary me-2"
                            (click)="copyTextToClipboard(row)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-clipboard" viewBox="0 0 16 16">
                                <path
                                    d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                <path
                                    d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>