<div class="p-4 p-md-5 mt-4 mb-4 rounded text-bg-dark bg-gradient-greenish">
    <div class="col-md-12 px-0 text-center">
        <h1 class="display-4 fst-italic arabic-font">{{bookInfo.name_ar}}</h1>
        <p class="lead my-3">{{bookInfo.kitab_name_en}}: {{bookInfo.name_en}}</p>
        <p class="lead mb-0">
            <span class="text-white fw-bold bangla-font">{{bookInfo.kitab_name_bn}}: {{bookInfo.name_bn}}</span>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-lg-12" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000"
        (scrolled)="onScroll()">
        <div class="card mb-2" *ngFor="let row of hadithList;">
            <div class="card-header" id="target{{row.hadithnumber}}">
                {{bookInfo.kitab_name_en}}:{{row.hadithnumber}}
            </div>
            <div class="card-body">
                <p class="card-text fs-4 arabic-font">
                    {{row.text_ar}}
                </p>
                <p class="card-text bangla-font mt-3 fs-6">{{row.text_bn}}</p>
                <p class="card-title mt-3 fs-6">{{row.text_en}}</p>
            </div>
        </div>
    </div>
</div>