<div class="p-4 p-md-5 mt-4 mb-4 rounded text-bg-dark bg-gradient-greenish">
    <div class="col-md-12 px-0 text-center">
        <p class="fs-2 my-3">
            References
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
        <ul>
            <li>
                Quran data collected from <a href="https://github.com/quran">https://github.com/quran</a>
            </li>
            <li>
                Surah Audio collected from <a href="https://www.quranicaudio.com">https://www.quranicaudio.com</a>
            </li>
            <li>
                Ayah Audio collected from <a href="https://www.quran.com">https://www.quran.com</a>
            </li>
            <li>
                Tafsir and Transliteration data collected from verious sources of internet.
            </li>
            <li>
                Hadith data collected from <a href="https://github.com/fawazahmed0/hadith-api">https://github.com/fawazahmed0/hadith-api</a>
            </li>
        </ul>
    </div>
</div>